// Specific CSS for your home-page
.main-container {
	width: 80%;
	margin: auto;
	display: flex;
    flex-direction: column;
    align-items: center;

	h1 {
		text-align: center;
		margin-top: 3rem;
	}

	h2 {
		text-align: center;
		margin: 1rem;
	}

	form {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.form-container {
		margin: 50px 0px;
		display: flex;
    	flex-direction: column;

    	.form-input-container {
    		width: 800px;
    		display: flex;
    		justify-content: space-between;
    		align-items: flex-end;

    		label {
    			font-weight: 600;
    		}
    	}

    	.form-input-div {
    		display: flex;
    		flex-direction: column;

    		#error-signal {
    			padding: 5px;
    			line-height: 180%;
			    text-align: left;
			    font-size: 13px;
			    font-weight: 400;
			    border: solid 2px #F4F4F4;
			    width: fit-content;
			    border-radius: 10px;
			    margin-top: 5px;
    		}
    	}

		input[type=text] {
			width: 250px;
			font-size: 16px;
			font-weight: 300;
		    padding: 18px;
		    border-radius: 6px;
		    border: solid 2px $light-gray;
		    outline: none;

		    &:focus {
		    	border: solid 2px $light-blue;
		    	transition: border 0.2s;
		    }

		}

		#flight_repetition {
			width: 70px;
    		text-align: center;
    		margin: auto;
		}
	}

	.button-standard-link {
		text-decoration: none;
		background-color: $orange;
		border-radius: 6px;
		font-family: poppins;
		font-weight: 500;
		color: white;
		padding: 10px;
		width: 15%;
    	text-align: center;
    	margin: 20px;

		&:hover {
			color: white;
			background-color: lighten($orange, 10%);
		}

		&:visited {
			color: white;
		}
	}
}

.suggestion {

	display: flex;
	flex-direction: column;
	position: relative;

	li {
		min-width: 550px;
		position: absolute;
		top: 101px;
		list-style: none;
		border: solid 1px $light-blue;
    	border-radius: 6px;
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	background-color: white;
    	z-index: 1;
	}

	ul {
		padding: 15px;
		margin: 0px;
		cursor: pointer;

		&:hover {
			background-color: lighten($light-blue, 21%);
		}
	}

	img {
		height: 20px;
		margin-right: 5px;
	}
}

.suggestion__markup {
	display: flex;

	p {
		margin: 0px;
	}
}


.listes-trajets {
	color: black;
    text-decoration: none;
	list-style: none;
	display: flex;
	width: 730px;
	height: 70px;
	justify-content: space-around;
	align-items: center;
	/* margin: 10px auto; */
	border-radius: 10px;
	background-color: white;

	&:hover {
		text-decoration: none;
	}

	&:active {
		text-decoration: none;
	}

	&:visited {
		text-decoration: none;
		color: black;
	}
	
	ul {
		margin: 0px;
		padding: 15px;
	}

	.inlist-stat-display {
		width: 87px;
		text-align: left;
	}

	.inlist-airport-display {
		width: 300px;
		text-align: left;
	}
}

.title-style {
	color: $title-color;
	font-weight: 700;
    line-height: 140%;
    text-align: center;
    margin: 1rem;
}








