h2 {
	text-align: center;
	margin: 15px;
}

.div-user-user-action {

    a {
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        text-align: left;


        &:hover {
            background-color: lighten($orange, 40%);
        }

        &:visited {
            color: auto;
        }
    }

    a:first-child {
        border-radius: 10px 10px 0px 0px;
    }

    a:last-child {
        border-radius: 0px 0px 10px 10px;
    }

    p {
        margin: 0px;
        text-align: center;
    }


}



.main-div-user {

	width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;

	.user-profile {
		margin: 25px 0px;
	}
}

.button-dropdown-orange {
	width: 35px;
    height: 35px;
    background-color: $orange;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
	border-radius: 50%;	
	border-width: 0px;
}

 .fa-arrow-down-animated {
    animation-name: collapse-icon-animation;
    animation-duration: 0.15s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

.fa-arrow-up-animated {
    animation-name: collapse-icon-animation-reverse;
    animation-duration: 0.25s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

@keyframes collapse-icon-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes collapse-icon-animation-reverse {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}