.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: solid 2px $orange;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.about-us-dropdown {
	p {
		margin: 0px;
	}
}

.navbar-log-div {
	position: relative;

	p {
		position: absolute;
		margin: 0;
		font-family: poppins;
		font-weight: 600;
		bottom: -10px;
		left: -18px;
	}

	text-decoration: none;
	color: black;

	&:hover {
		color: black;
	}

	&:visited {
		color: black;
	}
}